<%- include('partials/header.ejs') %>
<main>
    <div class="container mt-4">
  <h2>Edit Blog</h2>

  <form action="/blogs/<%= post.id %>/edit" method="POST">
    <input 
      type="text" 
      name="title" 
      class="form-control mb-3"
      value="<%= post.title %>" 
      required
    >

    <input 
      type="text" 
      name="author" 
      class="form-control mb-3"
      value="<%= post.author %>" 
      required
    >

    <textarea 
      name="content"
      rows="5"
      class="form-control mb-3"
      required
    ><%= post.content %></textarea>

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>


<%- include('partials/footer.ejs') %>